.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.eventButton {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

}

.selected {
  background-color: #fcc;
}

.notSelected {
  background-color: #ddd;
}

.eventButton:hover {
  opacity: .7;
}

.eventButton:active {
  opacity: .9;
}

button {
  background-color: #e76482;
	color: white;
	border: none;
	padding: 5px 10px;
  border-radius: 15px/50%;
	font: inherit;
	outline: inherit;
  cursor: pointer
}

button:hover {
  opacity: .7
}

button:active {
  opacity: .9
}

.graphBar:hover {
  opacity: .7;
}